.row.full-width.about-b.collapse
   .large-12.columns
        .contact-hero-image
            .contact-content
                .contact-visible
                    p If you
                    ul
                        li like coffee,
                        li sing in the shower,
                        li like it simple,
                        li are just curious,
                        li like Putin,
                        li want that promotion,
                        li like to move it move,
                        li hate Hooli,
                        li like cats,
                        li cook like Walter White,
                        li are sexy and you know it,
                        li stalk people,
                        li like good sh*t,
                        li are wondering what&rsquo;s ROI,
                        li admire Tyrion Lannister,
                        li are feeling the pressure,
                        li like minions,
                        li are a rebel,
                        li like dogs,
                        li are all about the bass,
                        li want this to end,
            br
            .contact-box-text
                a.drop(href="").center
                    p Drop Us A Line
                p poke2webable.com.bd | 01794-777103
                a(href="#contact-info").center
                    p View Map
                    i.fa.fa-chevron-down
.row.full-width#contact-info
    #map-canvas.pointer-events