.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_rahimafrooz_aymad-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Platform to connect with urban youth  
.row.full-width
    .case1
        .wrapper 
          h1 Challenge
          br
          p Rahimafrooz, one of the most successful companies in Bangladesh, wanted to leave behind a legacy as more than just the brand that sold batteries and took solar power to the next level. They wanted a campaign that would empower and inspire. Also, despite being one of the most recognized names in the country, they lacked connection with up and coming young generation. Rahimafrooz Solar and Globatt joined forces to sponsor this project. 

.row.wrapper#cap
    .case
        h1 Process
        h3 Platforms:
        br
        p 'Are you making a difference?' campaign was built around a microsite in Rahimafrooz corporate site. It was a crowdsourced storytelling platform where anyone could submit stories with text, videos and images. People from all walks of life could share inspiring stories of change; people, incidents, projects and organizations which are made a difference and inspired someone.
    .case
        h3 Media Planning:
        br
        p We created multiple ads sets, some targeted to urban youth with activist mindset and others targeted to professionals on Facebook. We did website click ads to drive traffic as well as page promotions and sponsored posts. Campaign drove organic traffic from Facebook, Twitter and Google+ through our community management efforts. We also partnered with Radio Foorti to drive traffic from their social channels.
    .case
        h3 Content Strategy:
        br
        p Initially we created blog posts (PR) and images to develop awareness about the campaign with a CTA (Call To Action) of submitting stories. Internally, we got people engaged first. We got videos on how various Rahimafrooz companies are making a difference; where top management shared their vision, values and aspirations. 

        p We reached out to well known difference-makers and celebs from the non-profit and business sectors; got them to share their stories and gain organic traction in their communities. As people submitted their stories, we shared them through social media. We also address some of the key issues happening locally like #NepalEarthquake and women empowerment. 

        p We posted general contents about Solar and Globatt to build awareness. In the final stage, we opened the platform for vote and invited people to vote for their favorite story. 
    .case
        h1 Results 
        br
        p The campaign received great traction from youth and development sector. Over 60 stories were submitted of which 9 were featured in Radio Foorti across 3 shows. The campaign served 15m impressions to 2m engaged Bangladeshis and drove 200K actions (shares, comments and post likes) in 2 months. It also received over 25K organic page likes.  
        p
         a(href="")
          p Want to maximize your ROI? Get in touch                   
 .fullcase
   .row.collapse.full-width(data-equalizer='')
     .large-6.columns(data-equalizer-watch='').case
        img(src='http://placehold.it/640x640')
     .large-6.columns(data-equalizer-watch='')
        .row.collapse.case.full-width
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
        .row.collapse.case.full-width
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
 .row.full-width.end-pic.collapse
    img(src='http://placehold.it/1280x650')
.more-projects
    h11 More Projects
      br
      span.readthisarrow ↓ 
.row.full-width.collapse.team-pics
    .small-12.large-4.columns
         img(src='http://placehold.it/430x320')
    .small-12.large-4.columns
          img(src='http://placehold.it/430x320')
    .small-12.large-4.columns
          img(src='http://placehold.it/430x320')

          
          
          
         