
div.footer
  div.center-div
    img(src='../images/Vector-Smart-Object.png')
    .list
         ul.text-align  
                li
                     a(href="/pdf/WebAble_BrandElements.pdf")
                        h7 BRAND ELEMENTS &nbsp; | &nbsp;
                li
                     a(href="http://webable.digital/bable") 
                        h7  THE BABLE BLOG   &nbsp; | &nbsp;
                li 
                     a(href="http://webable.digital/work") 
                        h7 OUR WORK &nbsp; | &nbsp;
                li
                     a(href="http://webable.digital/capabilities") 
                        h7  OUR SERVICES &nbsp; | &nbsp;
                li 
                     a(href="http://webable.digital/join") 
                        h7  JOIN THE TEAM 
                      
      .social-icons
        ul.text-align
            li
                a(href='https://twitter.com/WebableDigital')
                    i.fa.fa-twitter
            li
                a(href='https://www.linkedin.com/company/3544530?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A2-1-2%')
                    i.fa.fa-linkedin
            li
                a(href='https://plus.google.com/+WebableBd/videos')
                    i.fa.fa-google-plus
            li
                a(href='https://www.facebook.com/WebAble?fref=ts')  
                    i.fa.fa-facebook
            li
                a(href='https://instagram.com/webabledigital/')
                    i.fa.fa-instagram
            li
                a(href='https://www.pinterest.com/WebAbleDigital/')
                    i.fa.fa-pinterest
                

    .text-f 
        h8 ©2015 WEBABLE DIGITAL. ALL RIGHTS RESERVED