.row.full-width.about-b.collapse
   .large-12.columns
        .join-hero-image-overlay
        .join-hero-image
          .hero-typed-text 
              h1 
                span.join-typed-text
                span.email
                    p.join-stong Write to us at
                    p poke@webable.com.bd
                
                