.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_aarong-1.jpg').branding-image    
        .cs-brand-text
            .hero-text.text-center
                p Creating hype for E-commerce launch
.row.full-width
    .case1
        .wrapper 
          h1 Challenge
          br
          p The premier retailer launched their ecommerce platform in summer 2014. The challenge was to build a hype around the site launch through a pre-launch campaign.  

.row.wrapper#cap
    .case
        h1 Process
        h3 Platforms:
        br
        p We created a contest asking people simple questions about Aarong along with a question regarding what can be the next big thing from Aarong (with one of the options being e-commerce). Winners could win vouchers to redeem in Aarong.
    .case
        h3 Media Planning:
        br
        p G&R and facebook were the primary platforms where people with interest in shopping, lifestyle and e-commerce were targeted.
    .case
        h3 Content Strategy:
        br
        p We created contents which hinted very subtly on Aarong’s e-commerce launch. These contents indirectly spoke about the advantages of shopping online. Overall purpose was to create a vibe that something big was about to happen. Also, there were general contents with a CTA (Call To Action) to participate in the contest. 
    .case
        h1 Results 
        br
        p 1,700 people participated in the week-long campaign. Winners received vouchers and spread the words. The campaign served 1m impressions to 600K Bangladeshis across Facebook and G&R to drive 40K actions. 
        p
         a(href="")
          p Want to invest in growth? Get in touch                   
 .fullcase
   .row.collapse.full-width(data-equalizer='')
     .large-6.columns(data-equalizer-watch='').case
        img(src='http://placehold.it/640x640')
     .large-6.columns(data-equalizer-watch='')
        .row.collapse.case.full-width
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
        .row.collapse.case.full-width
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
 .row.full-width.end-pic.collapse
    img(src='http://placehold.it/1280x650')
.more-projects
    h11 More Projects
      br
      span.readthisarrow ↓ 
.row.full-width.collapse.team-pics
    .small-12.large-4.columns
         img(src='http://placehold.it/430x320')
    .small-12.large-4.columns
          img(src='http://placehold.it/430x320')
    .small-12.large-4.columns
          img(src='http://placehold.it/430x320')

          
          
          
         