.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_kaspersky-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p One print ad’s budget spent online
.row.full-width
    .case1
        .wrapper 
          h1 Challenge
          br
          p Kaspersky decided to move its one print media insertion budget to online channels during Pohela Baishakh 2014. Webable was challenged to create a huge hype on the day and make a mark. It was a splash and dash campaign; objective was to make a lot of noise and promote Kaspersky anti-virus.

.row.wrapper#cap
    .case
        h1 Process
        h3 Platforms:
        br
        p We created a landing page in Kaspersky’s website with a list of all products and discounts offered on Pohela Boishakh. People could sign up with their contact details to get a discount code which they could use when they were buying the software in stores. 
    .case
        h3 Media Planning:
        br
        p We ran a multi-channel campaign on Facebook and G&R to drive people to Kaspersky’s landing page. We were provided with a color scheme of green and red that was ‘destined to sell’. We tested out 7 more variations of color scheme with 10% of the budget in an hour. We found 3 contents to be performing much better than others and optimized budget accordingly.
    .case
        h3 Content Strategy:
        br
        p We basically received a print ad insertion in the 11th hour. We created multiple versions of the same design and tested it out to let the audience decide what’s best (as discussed above). 
    .case
        h1 Results 
        br
        p The campaign had a reach of 1.4m people with a staggering 3m impressions, 40k page likes, 70k clicks and 5K sign-ups. We took over social media for a day and got results!
        p
         a(href="")
          p Want to maximize your ROI? Get in touch                   
 .fullcase
   .row.collapse.full-width(data-equalizer='')
     .large-6.columns(data-equalizer-watch='').case
        img(src='http://placehold.it/640x640')
     .large-6.columns(data-equalizer-watch='')
        .row.collapse.case.full-width
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
        .row.collapse.case.full-width
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
 .row.full-width.end-pic.collapse
    img(src='http://placehold.it/1280x650')
.more-projects
    h11 More Projects
      br
      span.readthisarrow ↓ 
.row.full-width.collapse.team-pics
    .small-12.large-4.columns
         img(src='http://placehold.it/430x320')
    .small-12.large-4.columns
          img(src='http://placehold.it/430x320')
    .small-12.large-4.columns
          img(src='http://placehold.it/430x320')

          
          
          
         