.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_filmbox-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Videos just got delicious!
.row.full-width
    .case1
        .wrapper 
          h3 Brand
          br
          p A relatively new production house in Bangladesh, Filmbox Studios wanted to distinguish themselves from their competition. Having already done a few TVCs and other audio visuals, they proved worthy of what their brand wanted to imbue. Filmbox wants its work to be recognized as glamorous, even when portraying the most rugged of situations. They believe that filmmaking is a magician’s craft, and a magician isn’t a magician if the illusion isn’t perfect. Despite the glamor, they needed their brand to stand out as noticeable and firm.
.row.wrapper#cap
    .case
        h3 Concept
        br
        p We used the color Red, which signifies the brand’s ambitious attitude. The idea arrived, literally, from the shape of a box. A box is 3-dimensional, and hence the challenge was to portray a 3D effect in a 2D manner. This was done through the use of shades. But the real illusion comes from the clever use of negative space. On a white background the F seems to be a part of the logo, although, placed on a different background, it becomes apparent that the F is actually missing from the logo. That’s one sturdy magician indeed.
    .case
        h3 Graphic Style
        br
        p The graphic style incorporates Red, Dark Red, shades of Gray, and White to give the brand the look it deserves. Shades come together at an angle to represent the inside of a box. We wanted to limit font weights to a minimum, choosing two fonts with not more than two different weights: Nevis Bold, Nexa Bold, and Nexa light. 
        p
         a(href="")
          p  Want to reinvent your brand?
 .fullcase
   .row.collapse.full-width(data-equalizer='')
     .large-6.columns(data-equalizer-watch='').case.wow.slideInLeft
          img(src='../../images/case-id/filmbox/WebAble_casestudy_filmbox-1.jpg')
     .large-6.columns(data-equalizer-watch='')
          .row.collapse.case.full-width.wow.slideInRight
              .large-6.small-6.columns.cs-pictures
                  img(src='../../images/case-id/filmbox/WebAble_casestudy_filmbox-2.jpg')
              .large-6.small-6.columns.cs-pictures
                  img(src='../../images/case-id/filmbox/WebAble_casestudy_filmbox-3.jpg')
          .row.collapse.case.full-width.wow.slideInRight
              .large-6.columns.cs-pictures
                  img(src='../../images/case-id/filmbox/WebAble_casestudy_filmbox-4.jpg')
              .large-6.columns.cs-pictures
                  img(src='../../images/case-id/filmbox/WebAble_casestudy_filmbox-5.jpg')



  


          
          
          
         