.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='../../images/case-cover/webable_casestudy_georgesladolcevita-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Cutting edge casual chic restaurant in the style of the current New York Italian 
.row.full-width
    .case1
        .wrapper 
          h3 Brand
          br
          p George has already made a name for himself with his previous food outlet, George’s Café. After its success, he wanted to leverage his reputation  to start a casual, chic Italian restaurant called George’s La Dolce Vita. The restaurant aims to bring the taste of Italy to Dhaka’s gourmands.


.row.wrapper#cap
    .case
        h3 Concept
        br
        p Representing top notch dining and the go-to-place for the best desserts in town, we had to ensure the outlook was classy. What better way to represent class than minimalism? The logo uses the colors of the Italian flag in the shape of a ribbon. George is a New Yorker, and the restaurant tries to blend the best of both worlds into its menu. The wordmark reminds us of the smart and original New Yorker. But the challenge was – to get the word out that this was the same George that everyone knew. The well-established George’s Café mark sits atop the banner, easily visible for anyone who is familiar.
    .case
        h3 Graphic Style
        br
        p Casual chic is clean and suave. The colors Red, Green, and White do justice in making the brand stand out and adorns the brand materials with stripes of all these colors to give it something extra – something that would keep reminding people of its Italian flavors.
        p
         a(href="http://webable.digital/bable/signup")
          p  Want to reinvent your brand?
 .fullcase
   .row.collapse.full-width(data-equalizer='')
     .large-6.columns(data-equalizer-watch='').case.wow.slideInLeft
        
          img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-1.jpg')
     .large-6.columns(data-equalizer-watch='').wow.slideInRight
       
          .row.collapse.case.full-width
              .large-6.small-6.columns.cs-pictures
                  img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-2.jpg')
              .large-6.small-6.columns.cs-pictures
                  img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-3.jpg')
       
          .row.collapse.case.full-width.wow.slideInRight
              .large-6.columns.cs-pictures
                  img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-4.jpg')
              .large-6.columns.cs-pictures
                  img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-5.jpg')
 
 