.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='../../images/case-cover/webable_casestudy_georgesladolcevita-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Cutting edge casual chic restaurant in the style of the current New York Italian 
.row.full-width
    .case1
        .wrapper 
          h3 Brand
          br
          p George has already made a name for himself with his previous food outlet, George’s Café. After its success, he wanted to leverage his reputation  to start a casual, chic Italian restaurant called George’s La Dolce Vita. The restaurant aims to bring the taste of Italy to Dhaka’s gourmands.


.row.wrapper#cap
    .case
        h3 Concept
        br
        p Lorem Ipsum some text here and there and here is osme more!Lorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osme
    .case
        h3 Graphic Style
        br
        p Lorem Ipsum some text here and there and here is osme more!Lorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osme
        p
         a(href="")
          p  Want to reinvent your brand?
 .fullcase
   .row.collapse.full-width(data-equalizer='')
     .large-6.columns(data-equalizer-watch='').case.wow.slideInLeft
        
          img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-1.jpg')
     .large-6.columns(data-equalizer-watch='').wow.slideInRight
       
          .row.collapse.case.full-width
              .large-6.small-6.columns.cs-pictures
                  img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-2.jpg')
              .large-6.small-6.columns.cs-pictures
                  img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-3.jpg')
       
          .row.collapse.case.full-width.wow.slideInRight
              .large-6.columns.cs-pictures
                  img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-4.jpg')
              .large-6.columns.cs-pictures
                  img(src='../../images/case-id/georges/WebAble_casestudy_GLDV-5.jpg')
 
 