.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_raintree-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Premium boutique hotel
.row.full-width
    .case1
        .wrapper 
          h3 Brand
          br
          p The Raintree Dhaka is a new luxurious Hotel situated in Banani, Dhaka. It radiates a sense of status and serves business travelers in need of top class hospitality and service. It promises to take away the worries of being far from home and seeks to meet the needs of their hard working guests.

.row.wrapper#cap
    .case
        h3 Concept
        br
        p A real rain tree grows and spreads out to provide enough shade under its foliage from the heat of the sun. Its roots grow deep within the ground and provides sturdy structure. The rain tree’s canopy is what sets it apart from other trees; the inspiration for the name, The Raintree Dhaka.

        p We decided to incorporate the silhouette of the tree within the logo by exempting the “T” from “Tree” and replacing it with the symbol instead. It works out perfectly, and enhances the wordmark’s aesthetic. The roots were included to give a sense of strength and maturity, helping the new hotel to be viewed as more reliable.
    .case
        h3 Graphic Style
        br
        p The logo is a royal gold gradient, representing high quality service. It is accompanied by the secondary shade of brown, which conveys steadfastness and dependability. Most of the brand materials use the colors brown and khaki along with a shiny gold stripe; the same shade of gold used for the tree. We decided to stay away from the modern trend of using a sans serif. Starting from stationery designing to designing luggage tags, the task proved to be a challenge. However, the end result exuberates sheer class with elegance; which eventually served the needs of the client.
        p
         a(href="")
          p  Want to reinvent your brand? 
 .fullcase
   .row.collapse.full-width(data-equalizer='')
     .large-6.columns(data-equalizer-watch='').case.wow.slideInLeft
        
          img(src='../../images/case-id/raintree/WebAble_casestudy_raintree-1.jpg')
     .large-6.columns(data-equalizer-watch='').wow.slideInRight
          .row.collapse.case.full-width
              .large-6.small-6.columns.cs-pictures
                  img(src='../../images/case-id/raintree/WebAble_casestudy_raintree-2.jpg')
              .large-6.small-6.columns.cs-pictures
                  img(src='../../images/case-id/raintree/WebAble_casestudy_raintree-3.jpg')
        
          .row.collapse.case.full-width.wow.slideInRight
              .large-6.columns.cs-pictures
                  img(src='../../images/case-id/raintree/WebAble_casestudy_raintree-4.jpg')
              .large-6.columns.cs-pictures
                  img(src='../../images/case-id/raintree/WebAble_casestudy_raintree-5.jpg')
 

 
          
          
          
         