.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_champs21_spellato-1.jpg').branding-image 
        .cs-brand-text
            .hero-text.text-center
                p 2,600 app downloads through FB Ads 
.row.full-width
    .case1
        .wrapper 
          h3 Challenge
          br
          p Champs21 had a simple agenda: Drive downloads of its flagship app ‘Spell Champs’. The challenge was to minimize cost per user acquisition with a very limited budget. 

.row.wrapper#cap
    .case
        h3 PROCESS
        h3 Platforms:
        br
        p Champ21’s play store page (Android) was the destination of the campaign. We only placed ads on mobile devices. 
    .case
        h3 Media Planning:
        br
        p We started with targeting kids between the ages of 13 - 17 on Facebook and on G&R Ad network, with not so flattering results. It didn’t take long enough to figure out what went wrong. We changed our approach and targeted parents instead - adjusted targeting in G&R as well. CTR (Click Through Rate) among parents was 3x than that of children and CPC was half of that of children's’. 
    .case
        h3 Content Strategy:
        br
        p We received a few creatives from Champs21 team and created multiple versions of the same design (changed color scheme and size for banner ads). We tested out visuals and CTAs (Call To Action) to optimize budget accordingly.
    .case
        h3 RESULTS
        br
        p We drove 2,601 downloads of the app within 30 days and came to a conclusion that kids aren’t as much interested in becoming smarter as their parents want them to be. 268K people were reached, with 837K impressions being created and 19K clicks. Cost per user acquire or download was USD .70 (CPA).  
        p
         a(href="")
          p  Want to maximize your ROI? Get in touch                   


          
          
          
         
