.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_cmpetrol-1.jpg').branding-image 
        .cs-brand-text
            .hero-text.text-center
                p Increasing fuel sales by 20% 
.row.full-width
    .case1
        .wrapper 
          h3 Challenge
          br
          p When Anis, a WebAble co-founder, met the owner of CM Filling Station outside the petrol station. When Anis told him he’s a digital marketer, the man was sceptic. Owner of CM didn’t buy the idea that that digital could generate sales. So Anis took a challenge, asking him to allocate a small budget and not pursue any other marketing efforts to see what happens. 

.row.wrapper#cap
    .case
        h3 PROCESS
        h3 Platforms:
        br
        p We created a Facebook page, made CM a logo and started building a community on Facebook. 
    .case
        h3 Media Planning:
        br
        p Media budget was next to nothing. We boosted posts to car enthusiasts who were above the age of 28 and are likely to own a car. 
    .case
        h3 Content Strategy:
        br
        p We created beautiful designs with strong CTAs (Call To Action). We also posted exciting updates about the world of car and posted very intelligent messages for car enthusiasts.
    .case
        h3 RESULTS 
        br
        p The results were clear and quick. Sales increased by 20% within a month. From the usual average of 30 litres of octane per month the sales rose to 36 litres on average per month. Thus CM’s owner was convinced digital works, if done well.  
        p
         a(href="")
          p Want to invest in growth? Get in touch                   
  
    

.row.collapse.full-width.team-pics.wow.slideInIp
     .large-6.small-12.columns
        img(src='../../images/case-social/CM/WebAble_casestudy_cm-1.jpg')
     .large-6.small-12.columns
        img(src='../../images/case-social/CM/WebAble_casestudy_cm-6.jpg')
   
.row.collapse.full-width.team-pics.wow.slideInIp  
     .large-6.small-12.columns
        img(src='../../images/case-social/CM/WebAble_casestudy_cm-2.jpg')
     .large-6.small-12.columns
        img(src='../../images/case-social/CM/WebAble_casestudy_cm-5.jpg')

.row.collapse.full-width.team-pics.wow.slideInIp
     .large-6.small-12.columns
        img(src='../../images/case-social/CM/WebAble_casestudy_cm-3.jpg')
     .large-6.small-12.columns
        img(src='../../images/case-social/CM/WebAble_casestudy_cm-4.jpg')
          
          
         
