.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_dell-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Selling 3,800 laptops online 
.row.full-width
    .case1
        .wrapper 
          h3 Challenge
          br
          p Sell 3,500 Dell laptops on Dell’s local website through installments. Deal was available to students and women entrepreneurs. It was up to WebAble to communicate the offer and drive results.

.row.wrapper#cap
    .case
        h3 PROCESS
        h3 Platforms:
        br
        p We built a microsite (landing page) in Dell’s local website with the product specifications, images, FAQs and visual guide of the purchase process. Built a sales funnel with payment integration in partnership with Amar Desh Amar Gram and Trust Bank. We managed their Facebook community and replied to all queries and drove conversations about the campaign.
    .case
        h3 Media Planning:
        br
        p We broke down target groups, micro-targeted 5 different audience sets with customized copies through Facebook Ads. We tracked response rates and redirected more budget to top audience groups which converted best. Posted ads on Google Display Network and G&R Ad Network. We conducted A/B tests with texts and images across platform. We boosted sponsored posts on Facebook as well to drive engagements of Facebook contents. We saved cookies and retargeted the traffic on site with customized offer based on their stage in the sales funnel.
    .case
        h3 Content Strategy:
        br
        p We used Dell’s international content bank and purchased stock photos to create customized contents for the campaign. We posted content across social media in 3 categories: Product, Engagement and Curated. Product contents promoted the offer with clear Call To Action. Engagement contents drove conversations around topics target market was interested about. Curated links were posted to inform and educate the target audience about broad issues such as security and usefulness of softwares. 
    .case
        h3 RESULTS
        br
        p Our campaign generated 3m impressions to 1.6m people, out of which 99k clicked on the landing page. The result was a whooping 3,800 orders with a sales of over BDT 120m in 25 days.
        p
         a(href="")
          p Want to maximize your ROI? Get in touch                   
.row.collapse.full-width.team-pics.wow.slideInIp
     .large-3.small-12.columns
        img(src='../../images/case-social/dell/WebAble_casestudy_dell-1.jpg')
     .large-3.small-12.columns
        img(src='../../images/case-social/dell/WebAble_casestudy_dell-2.jpg')
     .large-3.small-12.columns
        img(src='../../images/case-social/dell/WebAble_casestudy_dell-3.jpg')
     .large-3.small-12.columns
        img(src='../../images/case-social/dell/WebAble_casestudy_dell-4.jpg')
          
          
          
         
