.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_iamreal-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Engagement leading to real sales 
.row.full-width
    .case1
        .wrapper 
          h3 Challenge
          br
          p i am real is a concern of BanglaDutch Developments Ltd. and their unconventional juice is 100% pure. It’s a premium product with average price of BDT 75 to 95 per bottle. But nobody knew about them, it was available in selective stores and digital was their exclusive marketing channel. Challenge was to increase brand awareness and sell juice.

.row.wrapper#cap
    .case
        h3 PROCESS
        h3 Platforms:
        br
        p We started off by creating contents on Facebook, Twitter and Google Plus. Later on we created an interactive platform (bottleoffun.com) from where people could learn about and order i am real juice with free home delivery. We built an Android app to keep loyal fans up to date with original and curated contents on healthy living and locate nearest stores which sold i am real juice.
    .case
        h3 Media Planning:
        br
        p Posts form i am real Facebook page is boosted to juice fans, homemakers, expats in Dhaka and people who care about a healthy lifestyle. Campaign drove organic traffic from Facebook, Twitter and Google+.
    .case
        h3 Content Strategy:
        br
        p We created fun and engaging contents. The copies were witty, the visuals were fresh and colorful; keeping in mind the personality of i am real. Product contents promoted deals and offers with clear Call To Action. Engagement contents were spontaneous; covering special events like iPhone 6 launch (i am bent) and Bangladesh blackout - some went viral. Curated links were posted to add value to healthy lifestyle of our audience.
    .case
        h3 RESULTS
        br
        p We built a Facebook community of 80K juice lovers organically, drove in-store sales and received regular orders through bottleoffun.com. Most importantly, people love i am real contents; few of them goes viral every now and then. Also, we’ve helped build awareness about the brand among expats and upper class living in Dhaka.   
        p
         a(href="")
          p want to invest in growth? Get in touch                   
.row.collapse.full-width.team-pics
     .large-6.x-large-4.columns.wow.slideInLeft
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-1.jpg')
     .large-6.x-large-4.columns.wow.slideInRight
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-2.jpg')
     .large-6.x-large-4.columns.wow.slideInLeft
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-4.jpg')
     .large-6.x-large-4.columns.wow.slideInRight
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-5.jpg')
     .large-6.x-large-4.columns.wow.slideInLeft
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-3.jpg')
     .large-6.x-large-4.columns.wow.slideInRight
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-6.jpg')
     .large-6.x-large-6.columns.wow.slideInLeft
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-8.jpg')
     .large-6.x-large-6.columns.wow.slideInRight
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-9.jpg')
     .large-6.x-large-4.columns.wow.slideInLeft
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-11.jpg')
     .large-6.x-large-4.columns.wow.slideInRight
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-12.jpg')
     .large-6.x-large-4.columns.wow.slideInLeft
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-10.jpg')
     .large-6.x-large-4.columns.show-for-large.wow.slideInRight
        img(src='../../images/case-social/i-am-real/WebAble_casestudy_iamreal-14.jpg')
