.row.collapse.full-width.cs-branding-hero
    .large-12.columns.branding-image
        .cs-brand-text
            .hero-text.text-center
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
.row.full-width
    .case1
        .wrapper 
          h3 Client
          br
          p Lorem Ipsum some text here and there and here is osme more!Lorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osme

.row.wrapper#cap
    .case
        h3 Concept
        br
        p Lorem Ipsum some text here and there and here is osme more!Lorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osme
    .case
        h3 Graphic Style
        br
        p Lorem Ipsum some text here and there and here is osme more!Lorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osmeLorem Ipsum some text here and there and here is osme

.row.collapse.full-width.team-pics
     .large-6.x-large-4.columns
        img(src='http://placehold.it/660')
     .large-6.x-large-4.columns
        img(src='http://placehold.it/660')
     .x-large-4.columns.hide 
        img(src='http://placehold.it/660')
.more-projects
    h11 More Projects
      br
      span.readthisarrow ↓ 
.row.full-width.collapse.team-pics
    .small-12.large-4.columns
         img(src='http://placehold.it/430x320')
    .small-12.large-4.columns
          img(src='http://placehold.it/430x320')
    .small-12.large-4.columns
          img(src='http://placehold.it/430x320')