.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_jaago-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Acquiring 235 donors through trial & error 
.row.full-width
    .case1
        .wrapper 
          h3 Challenge
          br
          p Jaago Foundation provides free education to underprivileged children. Individuals can sponsor a child’s education for BDT 1,500 per month. Since its inception in 2007 till September 2013, Jaago acquired 550 sponsors. But their schools already had 1,400 children. So we took up the challenge to raise 200 child sponsors in two months. 

.row.wrapper#cap
    .case
        h3 PROCESS
        h3 Platforms:
        br
        p We built a microsite (landing page) in Jaago’s website with ‘Sponsor A Child’ overview, a video, FAQs and payment details. Built a two tier sign-up funnel with payment integration; The first tier of the sign-up process was designed to attract potential donors where the second tier was built only for people to go through the entire sponsorship process.
    .case
        h3 Media Planning:
        br
        p We micro-targeted 3 audience groups of Bangladeshi professionals with customized copies through Facebook Ads. We tracked response rates and found them disappointing. Campaign drove organic traffic from Facebook, Twitter and Google+.

        p So we targeted Bangladeshis living in the US, UK, Australia and the Middle East (in various ad sets) with an interest in philanthropy, charity, etc. We A/B tested the ads and optimized budget for highest counting groups. We used G&R Ad Network to reach NRBs browsing Bangladeshi websites. We also utilized Google Insights to identify countries and states with a thriving expat community and delivered contextual ads keeping those geographic parameters. We also saved cookies and retargeted the traffic with customized offers based on their stage in the sign-up funnel.
    .case
        h3 Content Strategy:
        br
        p We got celebrity endorsement for the program and got customized photos for the campaign. 3 videos were also created with emotion driven messages. We posted content across social media in 2 categories: Product and Engagement. Product contents promoted the program with clear Call To Action. Engagement contents drove conversations about education in bangladesh, underprivileged children and emotional elements associated with Jaago through storytelling. All content from the page were catered to a very global audience, but ads targeting Bangladeshis were in Bangla. We also tested various combinations of videos and images in the landing page to find what works best. Few contents in this campaign ended up going viral. 
    .case
        h3 RESULTS 
        br
        p 8.6m impressions were served to 6.2m people in Bangladesh, USA, UK, Australia and the Middle East. The campaign acquired 487 leads and 235 sponsors; equivalent of BDT 42m annual sponsorship revenue in a year.  
        p
         a(href="")
          p Want to maximize your ROI? Get in touch                   

          
          
          
         
