.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/case-cover/webable_casestudy_preetom-1.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Reviews, WOM & Best The Burger in Town 
.row.full-width
    .case1
        .wrapper 
          h3 Challenge
          br
          p We met Preetom during the ‘What’s the best burger in town?’ fad. The burgers were all the rage and Preetom was our favorite! So we wanted to justify why Preetom was the best in town. How? Reviews speak louder than sponsored updates and ads!

.row.wrapper#cap
    .case
        h3 PROCESS
        h3 Platforms:
        br
        p Preetom’s Facebook page had a rating of 4.0 (out of 5.0) with 41 reviews. We invited people to rate Preetom’s burger on their Facebook Review tab. We offered 10% discount on all meals for a written review and 20% off for video reviews for a month.
    .case
        h3 Media Planning:
        br
        p We created a Facebook offer and limited it to our target number of reviews - 250. We promoted ads to 18 - 24 year olds interested about burgers and look for discounts. 
    .case
        h3 Content Strategy:
        br
        p The campaign was targeted to foodies, youthful audience and the glory of burgers. We took mouthwatering photos of the flagship burger and built content around it. We created a series of product contents to communicate the offer. Images were aided with bright colors and playful typography. We also created engagement contents about anatomy of burgers and talk about how and where the best burgers are made. We shared user generated contents and invited people to share the love; and they did. Overall, it was a delicious ordeal.
    .case
        h3 RESULTS 
        br
        p We received 305 written reviews and 5 video reviews. Average rating of the page went up to 4.5 (from 4.0) with 346 reviews on their Facebook page. The sales of Preetom burgers skyrocketed and they had to double their floor space in two months.  
        p
         a(href="")
          p Want to invest in growth? Get in touch                   
.row.collapse.full-width.team-pics.wow.slideInIp
     .large-6.small-12.columns.wow.slideInLeft
        img(src='../../images/case-social/preetom/WebAble_casestudy_preetom-3.jpg')
     .large-6.small-12.columns.wow.slideInRight
        img(src='../../images/case-social/preetom/WebAble_casestudy_preetom-1.jpg')
     
.row.collapse.full-width.team-pics.wow.slideInIp
     .large-6.small-12.columns.wow.slideInLeft
        img(src='../../images/case-social/preetom/WebAble_casestudy_preetom-2.jpg')
     .large-6.small-12.columns.wow.slideInRight
        img(src='../../images/case-social/preetom/WebAble_casestudy_preetom-6.jpg')
.row.collapse.full-width.team-pics.wow.slideInIp
     .large-6.small-12.columns.wow.slideInLeft
        img(src='../../images/case-social/preetom/WebAble_casestudy_preetom-5.jpg')
     .large-6.small-12.columns.wow.slideInRight
        img(src='../../images/case-social/preetom/WebAble_casestudy_preetom-4.jpg')        
          
         
